.card h2 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
  }
  .card p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
    margin-bottom: 15px;
  }
.card i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 50px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}
.card a{
  text-decoration: none;
  background-color: #88B04B;
  color: white;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 8px 13px;
  border-radius: 10px;

}